@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #161616;
  font-family: "Roboto", sans-serif;
}

nav ul {
  font-family: "Inter", sans-serif;
  padding: 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #262626;
  min-height: 100%;
  width: auto;
  color: #dedede;
  gap: 2rem;
}
nav ul li {
  list-style-type: none;
  position: relative;
}
nav ul li a {
  color: #dedede;
  transition: 250ms;
}
nav ul li a:hover {
  color: #ffffff;
}
nav ul li a i {
  font-size: 1.5rem;
}
nav ul li::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -0.3rem;
  left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
  background-color: #dedede;
  border-radius: 25px;
  font-weight: 700;
  width: 100px;
  padding: 0.5rem;
  box-shadow: 0 2px 1.5px 1px #161616;
  transition: all 200ms ease-in;
  opacity: 0;
}
nav ul li:hover::before {
  left: 4.2rem;
  opacity: 1;
}

main {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}
main .checkout-container {
  margin: 3rem 5rem;
  display: flex;
  gap: 2em;
  justify-content: center;
}
main .checkout-container .products-ordered-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
main .checkout-container .products-ordered-container .product-items-container {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-gap: 2em;
}
main .checkout-container .products-ordered-container .product-items-container .products-items {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}
main .checkout-container .products-ordered-container .product-items-container .products-items .product-items-image {
  max-width: 250px;
  height: auto;
}
main .checkout-container .products-ordered-container .product-items-container .products-items .product-items-image img {
  width: 100%;
  height: auto;
}
main .checkout-container .products-ordered-container .total-price-container {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}
main .checkout-container .user-address-payment-container {
  background-color: #262626;
  padding: 1.5em;
}
main .checkout-container .user-address-payment-container .user-form-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .checkout-container .user-address-payment-container .user-form-container .shipping-address {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .checkout-container .user-address-payment-container .user-form-container .shipping-address h2 {
  margin-bottom: -1em;
}
main .checkout-container .user-address-payment-container .user-form-container .shipping-address .ship-input-container input {
  outline: none;
  background-color: #262626;
  color: #DEDEDE;
  border: none;
  border-bottom: 1px solid #161616;
  width: 200px;
  height: 30px;
}
main .checkout-container .user-address-payment-container .user-form-container .payment-method {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .checkout-container .user-address-payment-container .user-form-container .payment-method .pay-input-container {
  display: flex;
  justify-content: space-around;
}
main .checkout-container .user-address-payment-container .user-form-container .payment-method .pay-input-container .pay-input-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .checkout-container .user-address-payment-container .user-form-container .payment-method .pay-input-container .pay-input-item input[type=radio] {
  accent-color: #262626;
}
main .checkout-container .user-address-payment-container .user-form-container input[type=submit] {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #DEDEDE;
  font-weight: 700;
  background-color: inherit;
  color: #DEDEDE;
  transition: 200ms ease-in;
}
main .checkout-container .user-address-payment-container .user-form-container input[type=submit]:hover {
  border: 1px solid #161616;
  color: #161616;
  background-color: #DEDEDE;
}

.after-successful-checkout {
  background-color: rgba(0, 0, 0, 0.6);
  color: #DEDEDE;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  display: none;
  z-index: 1;
}
.after-successful-checkout .modal-content {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 5px;
}
.after-successful-checkout .modal-content .close-style {
  position: absolute;
  top: 8px;
  right: 16px;
  align-self: flex-end;
  cursor: pointer;
  padding: 5px;
}
.after-successful-checkout .modal-content .message {
  font-size: 2rem;
  padding: 2em;
}
.after-successful-checkout .modal-content .message a {
  color: #DEDEDE;
}
.after-successful-checkout .modal-content .message a i {
  margin-top: 8px;
  transition: 250ms ease-in-out;
}
.after-successful-checkout .modal-content .message a i:hover {
  transform: rotate(360deg);
}

@media only screen and (max-width: 79.5em) {
  main .checkout-container {
    margin: 3rem;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 60em) {
  main .checkout-container .products-ordered-container {
    gap: 0.5em;
  }
}
@media only screen and (max-width: 48em) {
  main .checkout-container {
    margin: 3rem 0.5rem;
  }
  main .checkout-container .products-ordered-container {
    width: 100%;
  }
  main .checkout-container .products-ordered-container .product-items-container .products-items {
    text-align: center;
    gap: 1em;
  }
  main .checkout-container .user-address-payment-container {
    width: 100%;
  }
  main .checkout-container .user-address-payment-container .user-form-container {
    gap: 2em;
  }
  main .checkout-container .user-address-payment-container .user-form-container .shipping-address {
    gap: 2em;
  }
  main .checkout-container .user-address-payment-container .user-form-container .shipping-address h2 {
    margin-bottom: -1em;
  }
  main .checkout-container .user-address-payment-container .user-form-container .shipping-address .ship-input-container input {
    width: 100%;
    height: 30px;
  }
  .after-successful-checkout .modal-content .message {
    font-size: 6vw;
    padding: 1.5em;
  }
}
@media only screen and (max-width: 37.5em) {
  nav ul {
    padding: 1rem;
    width: auto;
    gap: 2rem;
  }
  nav ul li {
    list-style-type: none;
    position: relative;
  }
  nav ul li a i {
    font-size: 1rem;
  }
  nav ul li::before {
    display: none;
  }
  main {
    margin-left: 3.25rem;
  }
  main .checkout-container {
    margin: 3rem 0.5rem;
  }
  main .checkout-container .products-ordered-container {
    width: 100%;
  }
  main .checkout-container .products-ordered-container h2 {
    font-size: 4vw;
  }
  main .checkout-container .products-ordered-container .product-items-container .products-items {
    text-align: center;
    gap: 1em;
    font-size: 3vw;
  }
  main .checkout-container .products-ordered-container .total-price-container {
    font-size: 3vw;
  }
  main .checkout-container .user-address-payment-container {
    padding: 1em 0.5em;
  }
  main .checkout-container .user-address-payment-container h2 {
    font-size: 4vw;
  }
  main .checkout-container .user-address-payment-container .user-form-container {
    gap: 2em;
  }
  main .checkout-container .user-address-payment-container .user-form-container .shipping-address {
    gap: 1em;
  }
  main .checkout-container .user-address-payment-container .user-form-container .shipping-address h2 {
    margin-bottom: 0;
  }
  main .checkout-container .user-address-payment-container .user-form-container .shipping-address .ship-input-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0 1em;
  }
  main .checkout-container .user-address-payment-container .user-form-container .shipping-address .ship-input-container input {
    font-size: 0.7rem;
  }
  main .checkout-container .user-address-payment-container .user-form-container .payment-method {
    gap: 1em;
  }
  main .checkout-container .user-address-payment-container .user-form-container .payment-method .pay-input-container .pay-input-item {
    gap: 8px;
  }
  main .checkout-container .user-address-payment-container .user-form-container .payment-method .pay-input-container .pay-input-item input[type=radio] {
    accent-color: #262626;
  }
  main .checkout-container .user-address-payment-container .user-form-container .payment-method .pay-input-container .pay-input-item label {
    font-size: 3vw;
  }
  main .checkout-container .user-address-payment-container .user-form-container input[type=submit] {
    width: 80px;
    height: 30px;
    font-size: 0.7rem;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #262626 inset !important;
  -webkit-text-fill-color: #DEDEDE !important;
}/*# sourceMappingURL=style.css.map */