@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto&display=swap');
@mixin flexalignjustifycenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
$color1: #161616; //Primary 60%
$color2: #262626; //Secondary 30%
$color3: #DEDEDE; //Accent 10%
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #161616;
    font-family: 'Roboto', sans-serif;
}
nav{
    ul{
        font-family: 'Inter', sans-serif;
        padding: 1.5rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: #262626;
        min-height: 100%;
        width: auto;
        color: #dedede;
        gap: 2rem;
        li{
            list-style-type: none;
            position: relative;
            a{
                color: #dedede;
                transition: 250ms;
                &:hover{
                    color: #ffffff;
                }
                i{
                    font-size: 1.5rem;
                }
            }
            &::before{
                content: attr(data-tooltip);
                position: absolute;
                top:  -0.3rem;
                left: 4rem;
                @include flexalignjustifycenter();
                color: #262626;
                background-color: #dedede;
                border-radius: 25px;
                font-weight: 700;
                width: 100px;
                padding: 0.5rem;
                box-shadow: 0 2px 1.5px 1px #161616;
                transition: all 200ms ease-in;
                opacity: 0;
            }
    
            &:hover::before{
                left: 4.2rem;
                opacity: 1;
            }
        }
    }
}
main{
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    width:100%;
    color: white;
    .checkout-container{
        margin: 3rem 5rem;
        display: flex;
        gap: 2em;
        justify-content: center;
        .products-ordered-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            gap: 1em;
            .product-items-container{
                display: grid;
                grid-template-columns: repeat(1fr, 4);
                grid-gap: 2em;
                .products-items{
                    display: flex;
                    justify-content: space-between;
                    gap: 3em;
                    .product-items-image{
                        max-width: 250px;
                        height: auto;
                        img{
                            width: 100%;
                            height:auto;
                        }
                    }
                }
            }
            .total-price-container{
                display: flex;
                gap: 10px;
                align-self: flex-end;
            }
        }
        .user-address-payment-container{
            background-color: $color2;
            padding: 1.5em;
            .user-form-container{
                display: flex;
                flex-direction: column;
                gap: 2em;
                .shipping-address{
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                    h2{
                        margin-bottom: -1em;
                    }
                    .ship-input-container{
                        input{
                            outline: none;
                            background-color: #262626;
                            color:$color3;
                            border: none;
                            border-bottom: 1px solid $color1;
                            width: 200px;
                            height: 30px;
                        }
                    }
                }
                .payment-method{
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    .pay-input-container{
                        display: flex;
                        justify-content: space-around;
                        .pay-input-item{
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            input[type=radio]{
                                accent-color: $color2;
                            }
                        }
                    }
                }
                input[type=submit]{
                    cursor: pointer;
                    font-family: 'Roboto', sans-serif;
                    width:100px;
                    height:40px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid $color3;
                    font-weight: 700;
                    background-color: inherit;
                    color: $color3;
                    transition: 200ms ease-in;
                    &:hover{
                        border: 1px solid $color1;
                        color: $color1;
                        background-color: $color3;
                    }
                }
            }
        }
    }
}
.after-successful-checkout{
    background-color: rgba(0, 0, 0, 0.6);
    color: $color3;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    text-align: center;
    display: none;
    z-index: 1;
    .modal-content{
        background-color: $color2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 5px;
        .close-style{
            position:  absolute;
            top: 8px;
            right: 16px;
            align-self: flex-end;
            cursor: pointer;
            padding: 5px;
        }
        .message{
            font-size: 2rem;
            padding: 2em;
            a{
                color: $color3;
                i{
                    margin-top: 8px;
                    transition: 250ms ease-in-out;
                    &:hover {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 79.5em) {
    main{
        .checkout-container{
            margin: 3rem;
            flex-direction: column;
            align-items: center;
        }
    }
}
@media only screen and (max-width: 60em) {
    main{
        .checkout-container{
            .products-ordered-container{
                gap: 0.5em;
            }
        }
    }
}
@media only screen and (max-width: 48em) {
    main{
        .checkout-container{
            margin: 3rem 0.5rem;
            .products-ordered-container{
                width: 100%;
                .product-items-container{
                    .products-items{
                        text-align: center;
                        gap: 1em;
                    }
                }
            }
            .user-address-payment-container{
                width: 100%;
                .user-form-container{
                    gap: 2em;
                    .shipping-address{
                        gap: 2em;
                        h2{
                            margin-bottom: -1em;
                        }
                        .ship-input-container{
                            input{
                                width: 100%;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    .after-successful-checkout{
        .modal-content{
            .message{
                font-size: 6vw;
                padding: 1.5em;
            }
        }
    }
}
@media only screen and (max-width:37.5em){
    nav{
        ul{
            padding: 1rem;
            width: auto;
            gap: 2rem;
            li{
                list-style-type: none;
                position: relative;
                a{
                    i{
                        font-size: 1rem;
                    }
                }
                &::before{
                    display: none;
                }
            }
        }
    }
    main{
        margin-left : 3.25rem;
        .checkout-container{
            margin: 3rem 0.5rem;
            .products-ordered-container{
                width: 100%;
                h2{
                    font-size: 4vw;
                }
                .product-items-container{
                    .products-items{
                        text-align: center;
                        gap: 1em;
                        font-size: 3vw;
                    }
                }
                .total-price-container{
                    font-size: 3vw;
                }
            }
            .user-address-payment-container{
                padding: 1em 0.5em;
                h2{
                    font-size: 4vw;
                }
                .user-form-container{
                    gap: 2em;
                    .shipping-address{
                        gap: 1em;
                        h2{
                            margin-bottom: 0;
                        }
                        .ship-input-container{
                            display: grid;
                            grid-template-columns: 2fr 1fr;
                            grid-gap: 0 1em;
                            input{
                                font-size: 0.7rem;
                            }
                        }
                    }
                    .payment-method{
                        gap: 1em;
                        .pay-input-container{
                            .pay-input-item{
                                gap: 8px;
                                input[type=radio]{
                                    accent-color: $color2;
                                }
                                label{
                                    font-size: 3vw;
                                }
                            }
                        }
                    }
                    input[type=submit]{
                        width:80px;
                        height:30px;
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}
// To change the default color whenever the user selects the used input before. 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $color2 inset !important;
    -webkit-text-fill-color: $color3 !important;
}