@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto&display=swap');
@mixin flexalignjustifycenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexcolumnalignjustifycenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
$color1: #161616; //Primary 60%
$color2: #262626; //Secondary 30%
$color3: #DEDEDE; //Accent 10%
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #161616;
    font-family: 'Roboto', sans-serif;
}
nav{
    ul{
        font-family: 'Inter', sans-serif;
        padding: 1.5rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: #262626;
        min-height: 100%;
        width: auto;
        color: #dedede;
        gap: 2rem;
        li{
            list-style-type: none;
            position: relative;
            a{
                color: #dedede;
                transition: 250ms;
                &:hover{
                    color: #ffffff;
                }
                i{
                    font-size: 1.5rem;
                }
            }
            &::before{
                content: attr(data-tooltip);
                position: absolute;
                top:  -0.3rem;
                left: 4rem;
                @include flexalignjustifycenter();
                color: #262626;
                background-color: #dedede;
                border-radius: 25px;
                font-weight: 700;
                width: 100px;
                padding: 0.5rem;
                box-shadow: 0 2px 1.5px 1px #161616;
                transition: all 200ms ease-in;
                opacity: 0;
            }
    
            &:hover::before{
                left: 4.2rem;
                opacity: 1;
            }
        }
    }

}
main{
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    width:100%;
    header{
        @include flexalignjustifycenter();
        padding: 2em;
        h1{
            font-family: 'Inconsolata', monospace;
            font-size: 5rem;
            color:$color3;
            letter-spacing: 0.4em;
            margin-right: -0.4em;
        }
    }
    .help-container{
        margin: 3rem 10rem;
        color: $color3; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4em;
        .q-or-c-container{
            display: flex;
            flex-direction: column;
            gap: 24px;
            .q-or-c-header-text{
                h2{
                    font-size: 2rem;
                }
            }
            .q-or-c-form{
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    .form-first-name, .form-email-address,.form-message{
                        display: flex;
                        flex-direction: column;
                        gap: 3px;
                        input, textarea{
                            outline: none;
                            background-color: $color1;
                            border: none;
                            border-bottom: 1px solid $color3;
                            color: $color3;
                            padding-bottom: 0.2rem;
                        }
       
                    }
                    .form-message{
                        textarea{
                            font-family: 'Roboto', sans-serif;
                            resize: none;
                        }
                    }
                    .form-button{
                        margin-top: -16px;
                        max-width: 100px;
                        height: 35px;
                        input[type=submit]{
                            cursor: pointer;
                            width: 100%;
                            min-height: 100%;
                            padding: 0.2rem;
                            background-color: $color2;
                            border:none;
                            color: $color3;
                            font-weight: 700;
                            border-radius: 5px;
                            transition: 250ms ease-in;
                            &:hover{
                                background-color: $color3;
                                color: $color2;
                            }
                        }
                    }
                }
            }
        }
        .q-and-a-container{
            display: flex;
            flex-direction: column;
            gap: 24px;
            .q-and-a-header-text{
                h2{
                    font-size: 2rem;
                }
            }
            .q-and-a-information{
                display: flex;
                flex-direction: column;
                gap: 32px;
                *{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .question{
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 79.5em) {
    main{
        .help-container{
            margin: 3rem 8rem;
            display: flex;
            flex-direction: column;
            gap: 2em;
        }
    }
}
@media only screen and (max-width: 60em) {
    main{
        header{
            h1{
                font-size: 9vw;
            }   
        }
        .help-container{
            .q-or-c-container{
                .q-or-c-header-text{
                    h2{
                        font-size: 3vw;
                    }
                }
            }
            .q-and-a-container{
                .q-and-a-header-text{
                    h2{
                        font-size: 3vw;
                    }
                }
                .q-and-a-information{
                    *{
                        .question{
                            font-size: 1.85vw;
                        }
                        .answer{
                            font-size: 1.6vw;
                        }
                    }
                }
            }
        }
    }

}
@media only screen and (max-width:48em){
    main{
        header{
            padding: 1.5em;
        }
        .help-container{
            margin: 1.5rem 6rem;
            .q-or-c-container{
                .q-or-c-header-text{
                    h2{
                        font-size: 1.5rem;
                    }
                }
                .q-or-c-form{
                    form{
                        gap: 24px;
                        .form-first-name, .form-email-address{
                            input{
                                font-size: 0.7rem;
                            }
           
                        }
                        .form-message{
                            textarea{
                                font-family: 'Roboto', sans-serif;
                                resize: none;
                                font-size: 0.7rem;
                            }
                        }
                        .form-button{
                            margin-top: -16px;
                            max-width: 55px;
                            height: 25px;
                            input[type=submit]{
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
            }
            .q-and-a-container{
                .q-and-a-header-text{
                    h2{
                        font-size: 1.5rem;
                    }
                }
                .q-and-a-information{
                    *{
                        .question{
                            font-size: 0.9rem;
                        }
                        .answer{
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}
//for mobile-phones
@media only screen and (max-width:37.5em){
    nav{
        ul{
            padding: 1rem;
            width: auto;
            gap: 2rem;
            li{
                list-style-type: none;
                position: relative;
                a{
                    i{
                        font-size: 1rem;
                    }
                }
                &::before{
                    display: none;
                }
            }
        }
    }
    main{
        margin-left : 3.25rem;
        .help-container{
            margin: 1rem 0.5rem;
            .q-or-c-container{
                gap: 10px;
                .q-or-c-header-text{
                    h2{
                        font-size: 5vw;
                    }
                }
            }
            .q-and-a-container{
                gap: 10px; 
                .q-and-a-header-text{
                    h2{
                        font-size: 5vw;
                    }
                }
                .q-and-a-information{
                    gap: 16px;
                    *{
                        .question{
                            font-size: 1rem;
                        }
                        .answer{
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}
// To change the default color whenever the user selects the used input before. 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $color1 inset !important;
    -webkit-text-fill-color: $color3 !important;
}