@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #161616;
  font-family: "Roboto", sans-serif;
}

nav ul {
  padding: 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #262626;
  min-height: 100%;
  width: auto;
  color: #dedede;
  gap: 2rem;
}
nav ul li {
  list-style-type: none;
  position: relative;
}
nav ul li a {
  color: #dedede;
  transition: 250ms;
}
nav ul li a:hover {
  color: #ffffff;
}
nav ul li a i {
  font-size: 1.5rem;
}
nav ul li::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -0.3rem;
  left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
  background-color: #dedede;
  border-radius: 25px;
  font-weight: 700;
  width: 100px;
  padding: 0.5rem;
  box-shadow: 0 2px 1.5px 1px #161616;
  transition: all 200ms ease-in;
  opacity: 0;
}
nav ul li:hover::before {
  left: 4.2rem;
  opacity: 1;
}

main {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
main header h1 {
  font-family: "Inconsolata", monospace;
  font-size: 5rem;
  color: #DEDEDE;
  letter-spacing: 0.4em;
  margin-right: -0.4em;
}
main .shipments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 3rem 1.5rem;
  color: #DEDEDE;
}
main .shipments-container .processing-shipments-container, main .shipments-container .shipped-shipments-container, main .shipments-container .delivered-shipments-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .shipments-container .processing-shipments-container h2, main .shipments-container .shipped-shipments-container h2, main .shipments-container .delivered-shipments-container h2 {
  font-size: 1.5rem;
}
main .shipments-container .processing-shipments-container .processing-container, main .shipments-container .processing-shipments-container .shipped-container, main .shipments-container .processing-shipments-container .delivered-container, main .shipments-container .shipped-shipments-container .processing-container, main .shipments-container .shipped-shipments-container .shipped-container, main .shipments-container .shipped-shipments-container .delivered-container, main .shipments-container .delivered-shipments-container .processing-container, main .shipments-container .delivered-shipments-container .shipped-container, main .shipments-container .delivered-shipments-container .delivered-container {
  display: flex;
  gap: 8px;
}
main .shipments-container .processing-shipments-container .processing-container .image, main .shipments-container .processing-shipments-container .shipped-container .image, main .shipments-container .processing-shipments-container .delivered-container .image, main .shipments-container .shipped-shipments-container .processing-container .image, main .shipments-container .shipped-shipments-container .shipped-container .image, main .shipments-container .shipped-shipments-container .delivered-container .image, main .shipments-container .delivered-shipments-container .processing-container .image, main .shipments-container .delivered-shipments-container .shipped-container .image, main .shipments-container .delivered-shipments-container .delivered-container .image {
  max-width: 400px;
  height: auto;
}
main .shipments-container .processing-shipments-container .processing-container .image img, main .shipments-container .processing-shipments-container .shipped-container .image img, main .shipments-container .processing-shipments-container .delivered-container .image img, main .shipments-container .shipped-shipments-container .processing-container .image img, main .shipments-container .shipped-shipments-container .shipped-container .image img, main .shipments-container .shipped-shipments-container .delivered-container .image img, main .shipments-container .delivered-shipments-container .processing-container .image img, main .shipments-container .delivered-shipments-container .shipped-container .image img, main .shipments-container .delivered-shipments-container .delivered-container .image img {
  box-shadow: 0 5px 5px 3px #000000;
  width: 100%;
  height: auto;
  transition: 250ms ease-in-out;
}
main .shipments-container .processing-shipments-container .processing-container .image img:hover, main .shipments-container .processing-shipments-container .shipped-container .image img:hover, main .shipments-container .processing-shipments-container .delivered-container .image img:hover, main .shipments-container .shipped-shipments-container .processing-container .image img:hover, main .shipments-container .shipped-shipments-container .shipped-container .image img:hover, main .shipments-container .shipped-shipments-container .delivered-container .image img:hover, main .shipments-container .delivered-shipments-container .processing-container .image img:hover, main .shipments-container .delivered-shipments-container .shipped-container .image img:hover, main .shipments-container .delivered-shipments-container .delivered-container .image img:hover {
  transform: scale(1.01);
}
main .shipments-container .processing-shipments-container .processing-container .details, main .shipments-container .processing-shipments-container .shipped-container .details, main .shipments-container .processing-shipments-container .delivered-container .details, main .shipments-container .shipped-shipments-container .processing-container .details, main .shipments-container .shipped-shipments-container .shipped-container .details, main .shipments-container .shipped-shipments-container .delivered-container .details, main .shipments-container .delivered-shipments-container .processing-container .details, main .shipments-container .delivered-shipments-container .shipped-container .details, main .shipments-container .delivered-shipments-container .delivered-container .details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.2rem;
}
main .shipments-container .processing-shipments-container .processing-container .details .user-button, main .shipments-container .processing-shipments-container .shipped-container .details .user-button, main .shipments-container .processing-shipments-container .delivered-container .details .user-button, main .shipments-container .shipped-shipments-container .processing-container .details .user-button, main .shipments-container .shipped-shipments-container .shipped-container .details .user-button, main .shipments-container .shipped-shipments-container .delivered-container .details .user-button, main .shipments-container .delivered-shipments-container .processing-container .details .user-button, main .shipments-container .delivered-shipments-container .shipped-container .details .user-button, main .shipments-container .delivered-shipments-container .delivered-container .details .user-button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #DEDEDE;
  background-color: #161616;
  color: #DEDEDE;
  font-weight: bold;
  transition: 200ms ease-in;
}
main .shipments-container .processing-shipments-container .processing-container .details .user-button:hover, main .shipments-container .processing-shipments-container .shipped-container .details .user-button:hover, main .shipments-container .processing-shipments-container .delivered-container .details .user-button:hover, main .shipments-container .shipped-shipments-container .processing-container .details .user-button:hover, main .shipments-container .shipped-shipments-container .shipped-container .details .user-button:hover, main .shipments-container .shipped-shipments-container .delivered-container .details .user-button:hover, main .shipments-container .delivered-shipments-container .processing-container .details .user-button:hover, main .shipments-container .delivered-shipments-container .shipped-container .details .user-button:hover, main .shipments-container .delivered-shipments-container .delivered-container .details .user-button:hover {
  color: #161616;
  background-color: #DEDEDE;
}

.user-modal {
  background-color: rgba(0, 0, 0, 0.6);
  color: #DEDEDE;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  display: none;
  z-index: 1;
}
.user-modal .modal-content {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 2rem;
}
.user-modal .modal-content .user-btns-container {
  display: flex;
  gap: 20px;
}
.user-modal .modal-content .user-btns-container .btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  width: 80px;
  height: 30px;
  background-color: #262626;
  color: #DEDEDE;
  border: none;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  transition: 200ms ease-in;
}
.user-modal .modal-content .user-btns-container .btn:hover {
  background-color: #DEDEDE;
  color: #262626;
}

.user-different-modal {
  background-color: rgba(0, 0, 0, 0.6);
  color: #DEDEDE;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  display: none;
  z-index: 1;
}
.user-different-modal .modal-content {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 2rem;
}
.user-different-modal .modal-content .btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  width: 80px;
  height: 30px;
  background-color: #262626;
  color: #DEDEDE;
  border: none;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  transition: 200ms ease-in;
}
.user-different-modal .modal-content .btn:hover {
  background-color: #DEDEDE;
  color: #262626;
}

@media only screen and (max-width: 48em) {
  nav {
    width: auto;
  }
  main header h1 {
    font-size: 8vw;
  }
  main .shipments-container {
    margin: 1.5rem 0.5rem;
  }
  main .shipments-container .processing-shipments-container h2, main .shipments-container .shipped-shipments-container h2, main .shipments-container .delivered-shipments-container h2 {
    font-size: 4vw;
  }
  main .shipments-container .processing-shipments-container .processing-container, main .shipments-container .processing-shipments-container .shipped-container, main .shipments-container .processing-shipments-container .delivered-container, main .shipments-container .shipped-shipments-container .processing-container, main .shipments-container .shipped-shipments-container .shipped-container, main .shipments-container .shipped-shipments-container .delivered-container, main .shipments-container .delivered-shipments-container .processing-container, main .shipments-container .delivered-shipments-container .shipped-container, main .shipments-container .delivered-shipments-container .delivered-container {
    display: flex;
    gap: 8px;
  }
  main .shipments-container .processing-shipments-container .processing-container .image, main .shipments-container .processing-shipments-container .shipped-container .image, main .shipments-container .processing-shipments-container .delivered-container .image, main .shipments-container .shipped-shipments-container .processing-container .image, main .shipments-container .shipped-shipments-container .shipped-container .image, main .shipments-container .shipped-shipments-container .delivered-container .image, main .shipments-container .delivered-shipments-container .processing-container .image, main .shipments-container .delivered-shipments-container .shipped-container .image, main .shipments-container .delivered-shipments-container .delivered-container .image {
    max-width: 200px;
  }
  main .shipments-container .processing-shipments-container .processing-container .details, main .shipments-container .processing-shipments-container .shipped-container .details, main .shipments-container .processing-shipments-container .delivered-container .details, main .shipments-container .shipped-shipments-container .processing-container .details, main .shipments-container .shipped-shipments-container .shipped-container .details, main .shipments-container .shipped-shipments-container .delivered-container .details, main .shipments-container .delivered-shipments-container .processing-container .details, main .shipments-container .delivered-shipments-container .shipped-container .details, main .shipments-container .delivered-shipments-container .delivered-container .details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 2vw;
  }
}
@media only screen and (max-width: 37.5em) {
  nav ul {
    padding: 1rem;
    width: auto;
    gap: 2rem;
  }
  nav ul li {
    list-style-type: none;
    position: relative;
  }
  nav ul li a i {
    font-size: 1rem;
  }
  nav ul li::before {
    font-size: 0.8rem;
    top: -0.35rem;
    left: 2.4rem;
    border-radius: 25px;
    width: 80px;
    padding: 0.3rem;
  }
  nav ul li:hover::before {
    left: 2.6rem;
    opacity: 1;
  }
  main {
    margin-left: 3.25rem;
  }
  main .shipments-container {
    align-items: flex-start;
    gap: 2em;
    margin: 1rem 0.5rem;
    color: #DEDEDE;
  }
  main .shipments-container .processing-shipments-container h2, main .shipments-container .shipped-shipments-container h2, main .shipments-container .delivered-shipments-container h2 {
    font-size: 5vw;
  }
  main .shipments-container .processing-shipments-container .processing-container, main .shipments-container .processing-shipments-container .shipped-container, main .shipments-container .processing-shipments-container .delivered-container, main .shipments-container .shipped-shipments-container .processing-container, main .shipments-container .shipped-shipments-container .shipped-container, main .shipments-container .shipped-shipments-container .delivered-container, main .shipments-container .delivered-shipments-container .processing-container, main .shipments-container .delivered-shipments-container .shipped-container, main .shipments-container .delivered-shipments-container .delivered-container {
    display: flex;
    gap: 8px;
  }
  main .shipments-container .processing-shipments-container .processing-container .image, main .shipments-container .processing-shipments-container .shipped-container .image, main .shipments-container .processing-shipments-container .delivered-container .image, main .shipments-container .shipped-shipments-container .processing-container .image, main .shipments-container .shipped-shipments-container .shipped-container .image, main .shipments-container .shipped-shipments-container .delivered-container .image, main .shipments-container .delivered-shipments-container .processing-container .image, main .shipments-container .delivered-shipments-container .shipped-container .image, main .shipments-container .delivered-shipments-container .delivered-container .image {
    max-width: 125px;
  }
  main .shipments-container .processing-shipments-container .processing-container .details, main .shipments-container .processing-shipments-container .shipped-container .details, main .shipments-container .processing-shipments-container .delivered-container .details, main .shipments-container .shipped-shipments-container .processing-container .details, main .shipments-container .shipped-shipments-container .shipped-container .details, main .shipments-container .shipped-shipments-container .delivered-container .details, main .shipments-container .delivered-shipments-container .processing-container .details, main .shipments-container .delivered-shipments-container .shipped-container .details, main .shipments-container .delivered-shipments-container .delivered-container .details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 4vw;
  }
  .user-modal .modal-content {
    margin: 1rem 0.5rem;
    font-size: 4vw;
    padding: 2rem;
  }
  .user-modal .modal-content .user-btns-container {
    display: flex;
    gap: 20px;
  }
  .user-modal .modal-content .user-btns-container .btn {
    font-size: 0.7rem;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background-color: #262626;
    color: #DEDEDE;
    border: none;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    transition: 200ms ease-in;
  }
  .user-modal .modal-content .user-btns-container .btn:hover {
    background-color: #DEDEDE;
    color: #262626;
  }
  .user-different-modal .modal-content {
    margin: 1rem 0.5rem;
    font-size: 4vw;
    padding: 2rem;
  }
  .user-different-modal .modal-content .btn {
    font-size: 0.7rem;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background-color: #262626;
    color: #DEDEDE;
    border: none;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    transition: 200ms ease-in;
  }
  .user-different-modal .modal-content .btn:hover {
    background-color: #DEDEDE;
    color: #262626;
  }
}/*# sourceMappingURL=style.css.map */