@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto&display=swap');
@mixin flexalignjustifycenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
$color1: #161616; //Primary 60%
$color2: #262626; //Secondary 30%
$color3: #DEDEDE; //Accent 10%
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #161616;
    font-family: 'Roboto', sans-serif;
}
nav{
    ul{
        padding: 1.5rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: #262626;
        min-height: 100%;
        width: auto;
        color: #dedede;
        gap: 2rem;
        li{
            list-style-type: none;
            position: relative;
            a{
                color: #dedede;
                transition: 250ms;
                &:hover{
                    color: #ffffff;
                }
                i{
                    font-size: 1.5rem;
                }
            }
            &::before{
                content: attr(data-tooltip);
                position: absolute;
                top:  -0.3rem;
                left: 4rem;
                @include flexalignjustifycenter();
                color: #262626;
                background-color: #dedede;
                border-radius: 25px;
                font-weight: 700;
                width: 100px;
                padding: 0.5rem;
                box-shadow: 0 2px 1.5px 1px #161616;
                transition: all 200ms ease-in;
                opacity: 0;
            }
    
            &:hover::before{
                left: 4.2rem;
                opacity: 1;
            }
        }
    }

}
main{
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    width:100%;
    header{
        @include flexalignjustifycenter();
        padding: 2em;
        h1{
            font-family: 'Inconsolata', monospace;
            font-size: 5rem;
            color:$color3;
            letter-spacing: 0.4em;
            margin-right: -0.4em;
        }
    }
    .shipments-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        margin: 3rem 1.5rem;
        color: $color3;
        .processing-shipments-container,.shipped-shipments-container,.delivered-shipments-container{
            display: flex;
            flex-direction: column;
            gap: 8px;
            h2{
                font-size: 1.5rem;
            }
            .processing-container, .shipped-container, .delivered-container{
                display: flex;
                gap: 8px;
                .image{
                    max-width: 400px;
                    height: auto;
                    img{
                        box-shadow: 0 5px 5px 3px #000000;
                        width: 100%;
                        height:auto;
                        transition: 250ms ease-in-out;
                        &:hover{
                            transform: scale(1.01);
                        }
                    }
                }
                .details{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    font-size: 1.2rem;
                    .user-button{
                        font-family: 'Roboto', sans-serif;
                        cursor: pointer;
                        padding: 0.5rem;
                        border: 1px solid $color3;
                        background-color: $color1;
                        color: $color3;
                        font-weight: bold;
                        transition: 200ms ease-in;
                        &:hover{
                            color: $color1;
                            background-color: $color3;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:48em){
    nav{
        width: auto;
    }
    main{
        header{
            h1{
                font-size: 10vw;
            }
        }
        .shipments-container{
            margin: 1.5rem 0.5rem;
            .processing-shipments-container,.shipped-shipments-container,.delivered-shipments-container{
                h2{
                    font-size: 4vw;
                }
                .processing-container, .shipped-container, .delivered-container{
                    display: flex;
                    gap: 8px;
                    .image{
                        max-width: 200px;
                    }
                    .details{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        font-size: 2vw;
                    }
                }
            }
        }
    }
}
//for mobile-phones
@media only screen and (max-width:37.5em){
    nav{
        ul{
            padding: 1rem;
            width: auto;
            gap: 2rem;
            li{
                list-style-type: none;
                position: relative;
                a{
                    i{
                        font-size: 1rem;
                    }
                }
                &::before{
                    font-size: 0.8rem;
                    top:  -0.35rem;
                    left: 2.4rem;
                    border-radius: 25px;
                    width: 80px;
                    padding: 0.3rem;
                }
        
                &:hover::before{
                    left: 2.6rem;
                    opacity: 1;
                }
            }
        }
    }
    main{
        margin-left : 3.25rem;
        .shipments-container{
            align-items:flex-start;
            gap: 2em;
            margin: 1 rem 0.5rem;
            color: $color3;
            .processing-shipments-container,.shipped-shipments-container,.delivered-shipments-container{
                h2{
                    font-size: 5vw;
                }
                .processing-container, .shipped-container, .delivered-container{
                    display: flex;
                    gap: 8px;
                    .image{
                        max-width: 175px;
                    }
                    .details{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        font-size: 4vw;
                    }
                }
            }
        }
    }
}