@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #161616;
  font-family: "Roboto", sans-serif;
}

nav ul {
  font-family: "Inter", sans-serif;
  padding: 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #262626;
  min-height: 100%;
  width: auto;
  color: #dedede;
  gap: 2rem;
}
nav ul li {
  list-style-type: none;
  position: relative;
}
nav ul li a {
  color: #dedede;
  transition: 250ms;
}
nav ul li a:hover {
  color: #ffffff;
}
nav ul li a i {
  font-size: 1.5rem;
}
nav ul li::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -0.3rem;
  left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
  background-color: #dedede;
  border-radius: 25px;
  font-weight: 700;
  width: 100px;
  padding: 0.5rem;
  box-shadow: 0 2px 1.5px 1px #161616;
  transition: all 200ms ease-in;
  opacity: 0;
}
nav ul li:hover::before {
  left: 4.2rem;
  opacity: 1;
}

main {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
main header h1 {
  font-family: "Inconsolata", monospace;
  font-size: 5rem;
  color: #DEDEDE;
  letter-spacing: 0.4em;
  margin-right: -0.4em;
}
main .add-to-cart-container {
  color: #DEDEDE;
  margin: 3rem 10rem;
  display: flex;
  gap: 2em;
  flex-direction: column;
}
main .add-to-cart-container .cart-options {
  display: flex;
  justify-content: space-around;
}
main .add-to-cart-container .cart-options .cart-options-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  color: #DEDEDE;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 200ms ease-in;
}
main .add-to-cart-container .cart-options .cart-options-item:hover {
  background-color: #DEDEDE;
  color: #262626;
}
main .add-to-cart-container .cart-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
}
main .add-to-cart-container .cart-container .cart-item {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
main .add-to-cart-container .cart-container .cart-item .check-amount-container {
  display: flex;
  gap: 12px;
}
main .add-to-cart-container .cart-container .cart-item .check-amount-container .checkbox-container input[type=checkbox] {
  transform: scale(1.5);
  accent-color: #DEDEDE;
}
main .add-to-cart-container .cart-container .cart-item .check-amount-container .add-reduce-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .add-to-cart-container .cart-container .cart-item .check-amount-container .add-reduce-container i {
  cursor: pointer;
  transition: 200ms ease-in;
}
main .add-to-cart-container .cart-container .cart-item .check-amount-container .add-reduce-container i:hover {
  transform: scale(1.1);
}
main .add-to-cart-container .cart-container .cart-item .item-price-and-options {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  max-width: 700px;
}
main .add-to-cart-container .cart-container .cart-item .item-price-and-options .amount-option {
  display: flex;
  gap: 3px;
}
main .add-to-cart-container .cart-container .cart-item .item-price-and-options .remove-option i {
  cursor: pointer;
  transition: 200ms ease-in;
}
main .add-to-cart-container .cart-container .cart-item .item-price-and-options .remove-option i:hover {
  transform: scale(1.1);
}
main .add-to-cart-container .cart-container .cart-item .cart-item-image {
  max-width: 700px;
  height: auto;
}
main .add-to-cart-container .cart-container .cart-item .cart-item-image img {
  box-shadow: 0 5px 5px 3px #000000;
  width: 100%;
  height: auto;
  transition: 250ms ease-in-out;
}
main .add-to-cart-container .cart-container .cart-item .cart-item-image img:hover {
  transform: scale(1.01);
}
main .add-to-cart-container .cart-container .cart-item .cart-item-name {
  text-align: center;
  font-size: 1.2rem;
}

@media only screen and (max-width: 79.5em) {
  main .add-to-cart-container {
    margin: 3rem 8rem;
  }
}
@media only screen and (max-width: 60em) {
  main header h1 {
    font-size: 9vw;
  }
  main .add-to-cart-container {
    margin: 1.5rem 5rem;
  }
  main .add-to-cart-container .cart-options .cart-options-item {
    width: 80px;
    height: 35px;
    font-size: 0.8rem;
  }
  main .add-to-cart-container .cart-container {
    grid-gap: 1.5em;
  }
  main .add-to-cart-container .cart-container .cart-item {
    gap: 8px;
  }
  main .add-to-cart-container .cart-container .cart-item .check-amount-container {
    gap: 12px;
  }
  main .add-to-cart-container .cart-container .cart-item .check-amount-container .checkbox-container input[type=checkbox] {
    transform: scale(1.2);
  }
  main .add-to-cart-container .cart-container .cart-item .check-amount-container .add-reduce-container {
    font-size: 2vw;
  }
  main .add-to-cart-container .cart-container .cart-item .item-price-and-options {
    font-size: 2vw;
  }
  main .add-to-cart-container .cart-container .cart-item .item-price-and-options .amount-option {
    gap: 3px;
  }
  main .add-to-cart-container .cart-container .cart-item .cart-item-name {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 37.5em) {
  nav ul {
    padding: 1rem;
    width: auto;
    gap: 2rem;
  }
  nav ul li {
    list-style-type: none;
    position: relative;
  }
  nav ul li a i {
    font-size: 1rem;
  }
  nav ul li::before {
    display: none;
  }
  main {
    margin-left: 3.25rem;
  }
  main .add-to-cart-container {
    margin: 1rem 0.5rem;
    gap: 1em;
  }
  main .add-to-cart-container .cart-options .cart-options-item {
    width: 70px;
    height: 25px;
    font-size: 0.7rem;
  }
  main .add-to-cart-container .cart-container {
    grid-gap: 0.9em;
  }
  main .add-to-cart-container .cart-container .cart-item {
    gap: 4px;
  }
  main .add-to-cart-container .cart-container .cart-item .check-amount-container {
    gap: 12px;
  }
  main .add-to-cart-container .cart-container .cart-item .check-amount-container .checkbox-container input[type=checkbox] {
    transform: scale(0.8);
  }
  main .add-to-cart-container .cart-container .cart-item .check-amount-container .add-reduce-container {
    font-size: 2vw;
  }
  main .add-to-cart-container .cart-container .cart-item .item-price-and-options {
    font-size: 0.7rem;
  }
  main .add-to-cart-container .cart-container .cart-item .item-price-and-options .amount-option {
    gap: 3px;
  }
  main .add-to-cart-container .cart-container .cart-item .cart-item-name {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */