@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&family=Inder&family=Inter:wght@300;400&display=swap');
@mixin flexalignjustifycenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
$color1: #262626;
$color2: #161616;
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #161616;
}
nav{
    ul{
        font-family: 'Inter', sans-serif;
        padding: 1.5rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: #262626;
        min-height: 100%;
        width: auto;
        color: #dedede;
        gap: 2rem;
        li{
            list-style-type: none;
            position: relative;
            a{
                color: #dedede;
                transition: 250ms;
                &:hover{
                    color: #ffffff;
                }
                i{
                    font-size: 1.5rem;
                }
            }
            &::before{
                content: attr(data-tooltip);
                position: absolute;
                top:  -0.3rem;
                left: 4rem;
                @include flexalignjustifycenter();
                color: #262626;
                background-color: #dedede;
                border-radius: 25px;
                width: 100px;
                padding: 0.5rem;
                box-shadow: 0 2px 1.5px 1px #161616;
                transition: all 200ms ease-in;
                opacity: 0;
            }
    
            &:hover::before{
                left: 4.2rem;
                opacity: 1;
            }
        }
    }

}
main{
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    width:100%;
    header{
        @include flexalignjustifycenter();
        h1{
            font-family: 'Inconsolata', monospace;
            font-size: 2.5rem;
            color:white;
            letter-spacing: 0.4em;
        }
    }
    section{
        margin: 0 4.688rem;
    }
    section.container-dotd{
        display: flex;
        flex-direction: column;
        margin-top: 3.125rem;
        h2{
            font-family: 'Inconsolata', monospace;
            font-size: 2rem;
            color:white;
            letter-spacing: 0.4em;
            text-align: center;
        }
        .container{
            font-family: 'Inconsolata', monospace;
            color:white;
            display: flex;
            gap: 4px;
            .dotd-item{
                display: flex;
                flex-direction: column;
                gap: 8px;
                max-width: 50%;
                img{
                    width:100%;
                    height: auto;
                }
                .dotd-name{
                    align-self: center;
                }
            }
        }
    }
    section.container-aboutus{
        @include flexalignjustifycenter();
        color:white;
        margin: 3.125rem 4.688rem ;
        .container{
            display: flex;
            gap: 32px;
            justify-content: center;
            align-items: center;
            .brand-social-links{
                h2{
                    font-family: 'Inconsolata', monospace;
                    letter-spacing: 0.4em;
                    font-size: 2rem;
                    margin:0;
                }
                .social-links{
                    display: flex;
                    gap: 32px;
                    i{
                        font-size: 2rem;
                    }
                    
                }
            }
        }
    }
}
//for the navbar
@media only screen and (max-width:48em){
    nav{
        width: auto;
        .sidebar-links{
            span{
                display: none;
            }
        }
    }
}
//for mobile-phones
@media only screen and (max-width:37.5em){
    nav{
        width: auto;
        .sidebar-links{
            i{
                font-size: 0.65rem;
            }
        }
    }

}