@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&family=Inder&family=Inter:wght@300;400&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #161616;
}

nav ul {
  font-family: "Inter", sans-serif;
  padding: 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #262626;
  min-height: 100%;
  width: auto;
  color: #dedede;
  gap: 2rem;
}
nav ul li {
  list-style-type: none;
  position: relative;
}
nav ul li a {
  color: #dedede;
  transition: 250ms;
}
nav ul li a:hover {
  color: #ffffff;
}
nav ul li a i {
  font-size: 1.5rem;
}
nav ul li::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -0.3rem;
  left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
  background-color: #dedede;
  border-radius: 25px;
  width: 100px;
  padding: 0.5rem;
  box-shadow: 0 2px 1.5px 1px #161616;
  transition: all 200ms ease-in;
  opacity: 0;
}
nav ul li:hover::before {
  left: 4.2rem;
  opacity: 1;
}

main {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main header {
  display: flex;
  justify-content: center;
  align-items: center;
}
main header h1 {
  font-family: "Inconsolata", monospace;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 0.4em;
}
main section {
  margin: 0 4.688rem;
}
main section.container-dotd {
  display: flex;
  flex-direction: column;
  margin-top: 3.125rem;
}
main section.container-dotd h2 {
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.4em;
  text-align: center;
}
main section.container-dotd .container {
  font-family: "Inconsolata", monospace;
  color: white;
  display: flex;
  gap: 4px;
}
main section.container-dotd .container .dotd-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 50%;
}
main section.container-dotd .container .dotd-item img {
  width: 100%;
  height: auto;
}
main section.container-dotd .container .dotd-item .dotd-name {
  align-self: center;
}
main section.container-aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 3.125rem 4.688rem;
}
main section.container-aboutus .container {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
main section.container-aboutus .container .brand-social-links h2 {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.4em;
  font-size: 2rem;
  margin: 0;
}
main section.container-aboutus .container .brand-social-links .social-links {
  display: flex;
  gap: 32px;
}
main section.container-aboutus .container .brand-social-links .social-links i {
  font-size: 2rem;
}

@media only screen and (max-width: 48em) {
  nav {
    width: auto;
  }
  nav .sidebar-links span {
    display: none;
  }
}
@media only screen and (max-width: 37.5em) {
  nav {
    width: auto;
  }
  nav .sidebar-links i {
    font-size: 0.65rem;
  }
}/*# sourceMappingURL=style.css.map */