@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&family=Inder&family=Inter:wght@300;400&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #161616;
}

nav {
  font-family: "Inter", sans-serif;
  position: fixed;
  background-color: #262626;
  min-height: 100%;
  width: 20ch;
  color: white;
  border-right: 2px solid #161616;
}
nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
nav ul a {
  text-decoration: none;
  color: inherit;
}
nav .sidebar-links {
  display: flex;
  gap: 18px;
  padding: 1.25rem 1.25rem;
  transition: 0.2s ease-in-out;
  align-items: center;
  font-size: 1rem;
}
nav .sidebar-links:hover {
  background-color: #161616;
}
nav .sidebar-links i {
  color: white;
}

main {
  margin-left: 12.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main header {
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}
main header h1 {
  font-family: "Inconsolata", monospace;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 0.4em;
}
main section {
  margin: 0 4.688rem;
}
main section.front-page {
  margin-top: 3.125rem;
  background-image: url(../Images/pexels-monstera-6311650.jpg);
  background-position: center;
  background-size: cover;
  min-height: 60ch;
  padding-right: 100px;
  font-family: "Inder", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
}
main section.front-page .front-page-text {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
main section.front-page button {
  font-family: "Inder", sans-serif;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border: none;
  background-color: #262626;
  color: white;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
main section.front-page button:hover {
  background-color: white;
  color: #262626;
}
main section.categories-page {
  display: flex;
  flex-direction: column;
  margin-top: 3.125rem;
}
main section.categories-page h2 {
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.4em;
  text-align: center;
}
main section.categories-page .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
}
main section.categories-page .container a {
  text-decoration: none;
  color: inherit;
}
main section.categories-page .container .category-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background-color: white;
  padding: 0.5em;
  transition: opacity 250ms ease-in-out;
}
main section.categories-page .container .category-item:hover {
  opacity: 0.8;
}
main section.categories-page .container .category-item .item-image {
  max-width: 30%;
}
main section.categories-page .container .category-item .item-image img {
  width: 100%;
}
main section.categories-page .container .category-item .item-name {
  font-family: "Inder", sans-serif;
  letter-spacing: 0.4em;
  font-size: 0.9em;
}
main section.container-brands {
  display: flex;
  flex-direction: column;
  margin-top: 3.125rem;
}
main section.container-brands h2 {
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.4em;
  text-align: center;
}
main section.container-brands .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
}
main section.container-brands .container a {
  text-decoration: none;
  color: inherit;
}
main section.container-brands .container .brand-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background-color: white;
  padding: 0.5em;
  transition: opacity 250ms ease-in-out;
}
main section.container-brands .container .brand-item:hover {
  opacity: 0.8;
}
main section.container-brands .container .brand-item img {
  width: 30%;
}
main section.container-dotd {
  display: flex;
  flex-direction: column;
  margin-top: 3.125rem;
}
main section.container-dotd h2 {
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.4em;
  text-align: center;
}
main section.container-dotd .container {
  font-family: "Inconsolata", monospace;
  color: white;
  display: flex;
  gap: 4px;
}
main section.container-dotd .container .dotd-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 50%;
}
main section.container-dotd .container .dotd-item img {
  width: 100%;
  height: auto;
}
main section.container-dotd .container .dotd-item .dotd-name {
  align-self: center;
}
main section.container-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.125rem;
}
main section.container-gallery h2 {
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.4em;
  text-align: center;
}
main section.container-gallery .container {
  display: flex;
  gap: 8px;
}
main section.container-gallery .container .gallery-image {
  max-width: 100%;
}
main section.container-gallery .container .gallery-image img {
  width: 100%;
  height: 36.25ch;
}
main section.container-description {
  margin-top: 3.125rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
}
main section.container-description .container {
  text-align: center;
}
main section.container-aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 3.125rem 4.688rem;
}
main section.container-aboutus .container {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
main section.container-aboutus .container .brand-social-links h2 {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.4em;
  font-size: 2rem;
  margin: 0;
}
main section.container-aboutus .container .brand-social-links .social-links {
  display: flex;
  gap: 32px;
}
main section.container-aboutus .container .brand-social-links .social-links i {
  font-size: 2rem;
}
main section.container-aboutus .container .other-links {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media only screen and (max-width: 75em) {
  main section.front-page {
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  main section.container-gallery .container .gallery-image img {
    height: 30ch;
  }
}
@media only screen and (max-width: 65.75em) {
  main section.front-page .front-page-text {
    font-size: 1.3rem;
  }
  main section.front-page button {
    font-size: 1.2rem;
    padding: 0.5em 1em;
  }
  main section.categories-page h2, main section.container-brands h2, main section.container-dotd h2, main section.container-gallery h2 {
    font-size: 1.5rem;
  }
  main section.categories-page .container, main section.container-brands .container {
    grid-template-columns: repeat(2, 1fr);
  }
  main section.container-gallery .container .gallery-image img {
    height: 23ch;
  }
  main section.container-description {
    font-size: 0.8em;
  }
  main section.container-aboutus .container .brand-social-links h2 {
    font-size: 1.8rem;
  }
  main section.container-aboutus .container .brand-social-links .social-links {
    display: flex;
    gap: 32px;
  }
  main section.container-aboutus .container .brand-social-links .social-links i {
    font-size: 1.65rem;
  }
  main section.container-aboutus .container .other-links {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  main section.container-gallery .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  main section.container-gallery .container .gallery-image img {
    height: auto;
  }
}

@media only screen and (max-width: 48em) {
  nav {
    width: auto;
  }
  nav .sidebar-links span {
    display: none;
  }

  main {
    margin-left: 3.625rem;
  }
  main header h1 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  nav {
    width: auto;
  }
  nav .sidebar-links i {
    font-size: 0.65rem;
  }

  main {
    margin-left: 3.231rem;
  }
  main header h1 {
    font-size: 1.2rem;
  }
  main section {
    margin: 0 1rem;
  }
  main section.front-page .front-page-text {
    font-size: 1rem;
  }
  main section.front-page button {
    font-size: 0.9rem;
    padding: 0.5em 1em;
  }
  main section.categories-page h2, main section.container-brands h2, main section.container-dotd h2, main section.container-gallery h2 {
    font-size: 1.2rem;
  }
  main section.categories-page .container, main section.container-brands .container {
    grid-template-columns: 1fr;
  }
  main section.container-dotd .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  main section.container-dotd .container .dotd-item {
    max-width: none;
  }
  main section.container-aboutus {
    margin: 3.125rem 1rem;
  }
  main section.container-aboutus .container {
    flex-direction: column;
  }
  main section.container-aboutus .container .other-links {
    flex-direction: row;
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=style.css.map */